server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: item-service
          uri: http://localhost:8081
          predicates:
            - Path=/items/**

        - id: order-service
          uri: http://localhost:8082
          predicates:
            - Path=/orders/**

        - id: payment-service
          uri: http://localhost:8083
          predicates:
            - Path=/payments/**